.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 90%;
  margin: auto;
  text-align: center;
  z-index: 1;
  @extend %opacity-transition;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color:white;
  background-size: cover; 
  header{
      margin-bottom:100px;
      font-size:25px;
  }
  .result{
      width: 0px;
      height: 0px;
  }
  .result.actif{
      height:100%;
  }
}